<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mybatisTest.mapper.OrderDetailMapper">
   
   <select id="list" parameterType="com.song.mybatisTest.entity.OrderDetail"
    resultType="com.song.mybatisTest.entity.OrderDetail">
   		select detail_id,order_id,product_id,
		product_name,product_price,product_quantity,product_icon,
		create_time
 		from order_detail 
 		<where>
 			<if test="detailId != null"> detail_id =#{detailId}</if>
 			<if test="orderId != null"> and order_id = #{orderId}</if>
 			<if test="productId != null">and product_id =#{productId}</if>
 			<if test="productName != null">and product_name = #{productName}</if>
 			<if test="productPrice != null">and product_price = #{productPrice} </if>
 			<if test="productQuantity != null">and product_quantity = #{productQuantity}</if>
 			<if test="productIcon != null">and product_icon = #{productIcon}</if>
 			<if test="createTime != null">and create_Time = #{createTime}</if>
 		</where>
   </select>
</mapper>